/*fonts*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/*reset*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*general styling*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #282828;
}

ul {
  list-style: none;
}

h2 {
  color: #4CCB68;
  text-align: center;
}

a {
  color: inherit;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

hr {
  width: 10rem;
  margin: 1rem auto;
  border: 0.5px solid #4CCB68;
}

/*more specific styling*/
/*---------header--------*/
header {
  height: 100vh;
}

.personal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 100%;
}

.personal-info-pic {
  width: 130px;
  height: 130px;
  border: 1px solid #4CCB68;
  background-image: url("./images/IMG_20190914_161501.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.personal-info-text {
  text-align: center;
  line-height: 1.6;
  color: #D0D0D0;
}

.personal-info-text h1 {
  font-size: 4rem;
}

.personal-info-text span {
  color: #4CCB68;
}

.personal-info-text p {
  font-size: 1.5rem;
}

.personal-info-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 30%;
  color: #D0D0D0;
}

.personal-info-social-media li {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
}

.personal-info-social-media li:hover {
  color: #4CCB68;
}

.personal-info-email {
  color: #4CCB68;
  font-size: 1.5rem;
  margin: 1rem;
}

/*---------about---------*/
#about {
  padding: 1rem;
  background-color: white;
}

.about-container {
  width: 75%;
  text-align: center;
  margin: auto;
}

.about-container h2 {
  color: #4CCB68;
}

.about-container p {
  line-height: 1.6;
  font-size: 20px;
  color: #827777;
}

/*----------about---------*/
/*----------skills--------*/
#skills {
  background-color: white;
  padding: 3rem;
}

.skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 70%;
  margin: 3rem auto;
  grid-gap: 3rem;
}

.skill {
  font-size: 1.5rem;
  color: #4CCB68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.skill i {
  font-size: 3rem;
}

.skill p {
  margin-left: .5rem;
}

/*------------skills-----------*/
/*------------projects-----------*/
#projects {
  padding: 3rem;
  color: #4CCB68;
  margin: auto;
}

.projects-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 2rem 0rem;
  text-align: center;
}

.project {
  padding: 10px;
}

.project * {
  margin-bottom: 10px;
}

.project img {
  width: 400px;
  height: 200px;
}

.project-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin: 2rem auto;
}

.project-btn div {
  cursor: pointer;
  padding: .5rem 1rem;
  border: 1px solid;
}

.project-btn div:hover {
  background-color: #4CCB68;
  color: #282828;
}

/*-------footer-------*/
footer {
  text-align: center;
  padding: 1rem;
  color: #4CCB68;
  background-color: #383535;
}

/*--------media Query-------*/
@media only screen and (max-width: 600px) {
  .personal-info-social-media {
    width: 70%;
  }
  .skills-container {
    width: 55%;
  }
  #projects {
    padding: 2rem 0rem;
  }
  .projects-container {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .project img {
    width: 100%;
  }
  .skill {
    -ms-grid-column-align: auto;
        justify-self: auto;
  }
}
/*# sourceMappingURL=style.css.map */