/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//variables
$background-color:#282828;
$main-color:#4CCB68;
$second-color:#D0D0D0;


/*reset*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//mixins
@mixin container($width, $dir) {
    width: $width;
    margin: auto;
    color: #886e6e;
    text-align: $dir;
}

/*general styling*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
}

ul {
    list-style: none;
}

h2 {
    color: $main-color;
    text-align: center;
}

a {
    color: inherit;
    text-decoration-line: none;
}


hr {
    width: 10rem;
    margin: 1rem auto;
    border: .5px solid $main-color;
}

/*more specific styling*/



/*---------header--------*/

header {

    height: 100vh;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.personal-info-pic {
    width: 130px;
    height: 130px;
    border: 1px solid $main-color;
    background-image: url("./images/IMG_20190914_161501.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.personal-info-text {
    text-align: center;
    line-height: 1.6;
    color: $second-color;

    h1 {
        font-size: 4rem;
    }

    span {
        color: $main-color;
    }

    p {
        font-size: 1.5rem;
    }
}

.personal-info-social-media {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    color: $second-color;

    li {
        transition: all 1s;
        font-size: 30px;

        &:hover {
            color: $main-color;
        }
    }
}

.personal-info-email {
    color: $main-color;
    font-size: 1.5rem;
    margin: 1rem;
}

/*---------about---------*/

#about {
    padding: 50px 30px;
    background-color: white;
}

.about-container {

    width: 75%;
    text-align: center;
    margin: auto;

    h2 {
        color: $main-color;
    }

    p {
        line-height: 1.6;
        font-size: 20px;
        color: #827777;
    }
}

/*----------about---------*/

/*----------skills--------*/

#skills {
    background-color: white;
    padding: 3rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 70%;
    margin: 3rem auto;
    grid-gap: 3rem;
}

.skill {

    font-size: 1.5rem;
    color: #4CCB68;
    display: flex;
    align-items: center;
    justify-self: center;

    & i {
        font-size: 3rem;
    }

    & p {
        margin-left: .5rem;
    }
}

/*------------skills-----------*/

/*------------projects-----------*/

#projects {
    padding: 3rem;

    color: $main-color;
    margin: auto;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 2rem 0rem;
    text-align: center;
}

.project {

    padding: 10px;

    * {
        margin-bottom: 10px;
    }

    img {
        width: 400px;
        height: 200px;
    }
}

.project-btn {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 2rem auto;

    div {
        cursor: pointer;
        padding: .5rem 1rem;
        border: 1px solid;

        &:hover {
            background-color: $main-color;
            color: $background-color;
        }
    }
}


/*-------footer-------*/

footer {
    text-align: center;
    padding: 1rem;
    color: $main-color;
    background-color: #383535;
}



/*--------media Query-------*/

@media only screen and (max-width: 600px) {
    .personal-info-social-media{
        width: 70%;
    }

    .skills-container{
        width: 55%;
    }

    #projects{
        padding: 2rem 0rem;
    }
    .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .project img {
        width: 100%;
    }

    .skill {
        justify-self: auto;
    }

}

@media only screen and (max-width: 1000px) {}